<header class="header">
    <div class="logo">LILAC BOUTIQUE</div>
    <nav class="nav-menu">
      <ul>
        <li><a routerLink="store" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="#" routerLinkActive="active">Mujer</a></li>
        <li><a routerLink="#" routerLinkActive="active">Accesorios</a></li>
        <li><a routerLink="#" routerLinkActive="active">Ofertas</a></li>
        <li><a routerLink="users" routerLinkActive="active" >Usuarios</a></li>
      </ul>
    </nav>
    <div class="header-icons">
      <a href="#"><i class="fas fa-search"></i></a>
      <a routerLink="/profile"><i class="fas fa-user"></i></a>
      <a routerLink="/cart"><i class="fas fa-shopping-bag"></i><span class="badge">0</span></a>
    </div>
  </header>