/* You can add global styles to this file, and also import other style files */
:root {
    --primary-purple: #6f42c1;
    --purple-dark: #5e35b1;
    --purple-light: #9575cd;
    --purple-very-light: #f3f0ff;
  }