<div class="users-container">
  <div class="users-grid">
    @for (user of users; track user.id) {
      <div class="user-card">
        <div class="user-card-header">
          <div class="user-avatar">
            <img src="assets/images/default-avatar.png" alt="{{user.firstName}} {{user.lastName}}">
          </div>
          <div class="user-info-header">
            <h3>{{user.firstName}} {{user.lastName}}</h3>
            <span class="user-role">Usuario</span>
          </div>
        </div>
        <div class="user-card-body">
          <div class="user-details">
            <p class="user-detail"><i class="fas fa-envelope"></i> Email: {{user.email}}</p>
            <p class="user-detail"><i class="fas fa-phone"></i> Cel: {{user.telephone}}</p>
            <p class="user-detail"><i class="fas fa-id-card"></i> DNI: {{user.numberDoc}}</p>
            <p class="user-detail"><i class="fas fa-id-card"></i> Cumpleaños: {{user.birthday}}</p>
          </div>
        </div>
        <div class="user-card-footer">
          <button class="btn-edit" (click)="onEditUser(user)">
            <i class="fas fa-edit"></i> Editar
          </button>
          <button class="btn-delete"(click)="onDeleteUser(user)">
            <i class="fas fa-trash" ></i> Eliminar
          </button>
        </div>
      </div>
    }

    @empty {
      <div class="no-users">
        <i class="fas fa-users-slash"></i>
        <p>No hay usuarios disponibles</p>
        
      </div>
    }
  </div>
</div>